<!DOCTYPE html>
<html>
<head>
  <title>Reset Link Invalid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

<div class="login-container">
  <div class="login-title">
    Reset Link Invalid
  </div>

  <div class="textbox">
    <p style="text-align:center; color:red;">
      {{ error }}
    </p>

    <div class="login_buttons">
      <a href="{{ url_for('forgot_password') }}" class="log_btn">
        Request New Link
      </a>
    </div>
  </div>
</div>

</body>
</html>
